<h1><%= house %>Members</h1>

<section id='members'>
  <% members.order_of_the_phoenix(house).each_with_index do |member, index| %>
    <section id='member-<%= index %>'>
      <p>Name: <%= member.name %></p>
      <% if member.role != nil %>
        <p>Role: <%= member.role %></p>
      <% end %>
      <p>House: <%= member.house %></p>
      <% if member.patronus != nil %>
        <p>Patronus: <%= member.patronus %></p>
      <% end %>
      <p>--------------------</p>
    </section>
  <% end %>
</section>
